@import "src/globalSCSS/fonts";
@import "src/globalSCSS/colors";

$main-font: $mainFont;
$color-1: $color1;
$color-2: $color2;
$color-3: $color3;

.FirstOrderPage {
  transition-duration: 1s;
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  font-family: $main-font;

  .orderBlock {
    justify-content: center;
    margin-top: 20vh;
    width: 40%;
    height: auto;
    min-height: 90vh;

    .orderPriceText {
      margin-bottom: 5vh;
      display: flex;
      font-size: 25px;
      color: white;
      width: auto;
      min-width: 90%;
      justify-content: end;
      margin-left: auto;
      margin-right: 10%;

      .prePriceText {
        margin-right: 3%;
      }

      .orderPrice {
        color: $color-2;
        border-bottom: 1px solid $color-1;
        width: auto;
      }
    }
  }

  .orderedDishes {
    hr {
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      border: 2px solid;
      color: $color-2;
      margin-bottom: 5vh;
    }

    .orderTitle {
      text-shadow: -10px 10px 10px rgba(255, 255, 255, 0.36);
      font-size: 40px;
    }

    color: white;
    height: auto;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  .goNext {
    border-radius: 10px;
    border: 1px solid $color-1;
    color: $color-1;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    background: none;
    width: clamp(200px, 50%, 400px);
    height: 50px;
    transition-duration: 1s;
    margin-bottom: 5%;
    &:hover {
      color: $color-3;
      background: $color-2;
      border-color: $color-1;
    }
  }
}

.emptyCartText{
  text-align: center;
  color: white;
  font-size: 65px;
  margin-top: 15%;
  .emptyCartSubText{
    margin-top: 20px;
    font-size: 25px;
  }
  button{
    margin-top: 10%;
    border-radius: 10px;
    border: 1px solid $color-1;
    color: $color-1;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    background: none;
    width: clamp(200px, 50%, 400px);
    height: 70px;
    transition-duration: 1s;
    &:hover {
      color: $color-3;
      background: $color-2;
      border-color: $color-1;
    }
  }

}