@import "src/globalSCSS/fonts";
@import "src/globalSCSS/colors";

.darkCardStyle{
  box-shadow: -5px 10px 10px 3px rgba(0, 0, 0, 0.49);
  font-family: $mainFont;
  z-index: 30;
  height: 100%;
  width: 15%;
  border-radius: 3%;
  background: $color6;
  margin-right: 5%;
  border: 2px rgba(255, 255, 255, 0.78) solid;

  .cardImage{
    width: 100%;
    height: 50%;
    border-radius: 3%;
    img{
      border-top-left-radius: 2%;
      border-top-right-radius: 2%;
      border-bottom-right-radius: 60%;
      width: 100%;
      height: 100%;
      -webkit-filter: opacity(90%);
      border-bottom: white 4px solid;
    }
  }
  .cardTextPart{
    padding: 10px;
    height: 35%;
    .cardTitle{
      text-align: center;
      font-size: 25px;
      color: $color1;
    }
    .cardDescription{
      color: white;
      text-align: center;
      font-size: 18px;
    }
  }
  .cardButtonPart{
    display: flex;
    justify-content: center;

  }
}

.lightCardStyle{
  box-shadow: -5px 10px 10px 3px rgba(0, 0, 0, 0.49);
  font-family: $mainFont;
  z-index: 30;
  height: 100%;
  width: 15%;
  border-radius: 3%;
  background: $color7;
  margin-right: 5%;
  border: 3px rgb(0, 0, 0) solid;

  .cardImage{
    width: 100%;
    height: 50%;
    border-radius: 3%;
    img{
      border-top-left-radius: 2%;
      border-top-right-radius: 2%;
      border-bottom-right-radius: 60%;
      width: 100%;
      height: 100%;
      border-bottom: #000000 5px solid;
    }
  }
  .cardTextPart{
    padding: 10px;
    height: 35%;
    .cardTitle{
      text-align: center;
      font-size: 25px;
      color: #639a0d;
    }
    .cardDescription{
      text-align: center;
      color: black;
      font-size: 18px;
    }
  }
  .cardButtonPart{
    display: flex;
    justify-content: center;

  }
}



