@import "src/globalSCSS/fonts";
@import "src/globalSCSS/colors";

.SecondOrderPage{
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  font-family: $mainFont;
  .orderData{
    margin-top: 20vh;
    height: 80%;
    width: 40%;
  }
  .orderTitle{
    color: white;
    text-align: center;
    text-shadow: -10px 10px 10px rgba(255, 255, 255, 0.36);
    font-size: 40px;
  }
  .orderSubTitle{
    margin-top: 30px;
    margin-bottom: 10px;
    color: $color2;
    font-size: 25px;
  }
}
.delivery{
  color: white;
  font-size: 24px;
  input{
    background: $color1;
  }
  input[type="radio"] {
    background: $color3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 10px;
    margin-left: 20px;
    position: relative;
    top: 4px;
  }
  input[type="radio"]:checked {
    border: 2px solid #ffffff;
    background: $color2;
  }
  input[type="radio"]:hover {
    cursor: pointer;
  }
  input:hover{
    cursor: pointer;
  }
  input[type="text"]{
    margin-top: 30px;
    margin-left: 20px;
    background: white;
    border: none;
  }
  input[type="text"]:focus{
    border: none;
  }
}
.orderCompleteButton{
  margin-top: 70px;
  button{
    border-radius: 10px;
    border: 1px solid $color1;
    color: $color1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    font-size: 25px;
    background: none;
    width: 20%;
    height: 50px;
    transition-duration: 1s;
  }
  :hover{
    color: $color3;
    background: $color2;
    border-color: $color1;
  }
}
.phoneNumber{
  color: $color2;
  input{
    margin-top: 30px;
    margin-left: 20px;
    background: white;
    border: none;
  }
}
.shippingAddress{
  color: $color2;
}