$color1: #61892F;
$color2: #86C232 ;
$color3: #0e0e0e;
$color4: #474B4F;
$color5: #6B6E70;
$color6: rgba(3, 3, 3, 0.8);
$color7: rgba(255, 255, 255, 0.89);
$color8: rgba(97, 137, 47, 0.25);
$color9: #000000;
$color10: rgba(252, 0, 0, 0.46);