@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');

$mainFont: 'Oswald', sans-serif;
$logoFirstFont: 'Yanone Kaffeesatz', sans-serif;
$logoSecondFont: 'Yanone Kaffeesatz', sans-serif;