@import "src/globalSCSS/fonts";
@import "src/globalSCSS/colors";

.MenuCard{
  height: auto;
  min-height: 25vh;
  width: 49%;
  margin-bottom: 10%;
  .dishName{
    font-size: 30px;
    color: white;
    margin-bottom: 5%;
  }
  .dishPrice{
    font-size: 30px;
    color: $color1;
  }
  .dishDescription{
    font-size: 20px;
    min-height: 50%;
    color: rgba(255, 255, 255, 0.32);
  }
  .dishWeight{
    font-size: 19px;
    color: $color8;
  }
}