h2{
  margin-top: 10%;
  color: white;
  font-size: 50px;
}
h3{
  color: rgba(255, 255, 255, 0.32);
  font-size: 25px;
}
hr{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  color: red;
}
.MenuCard{
  width: 100%;
  .dishesBlock{
    height: auto;
    width: 100%;
    .dishesLine{

    }
  }
}