@import "src/globalSCSS/fonts";
@import "src/globalSCSS/colors";
.PromotionsPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .topHalf{
      flex: 2;
      width: 100%;
      height: 60%;
      background-image: url("promotion-bg.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-filter: brightness(60%);
    }
    .bottomHalf{
      z-index: 10;
      flex: 1;
      background: $color3;
      box-shadow: $color3 1px 1px 70px 80px;
    }
  .cardsContainer{
    width: 100%;
    height: 40vh;
    z-index: 11;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 18%;
  }

}