@import "src/globalSCSS/fonts";
@import "src/globalSCSS/colors";

.PromotionsPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .topHalf {
    flex: 2;
    width: 100%;
    height: 60%;
    background-image: url("promotion-bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: brightness(60%);

    @media (max-width: 320px) {
      height: 40%;
    }

    @media (min-width: 480px) {
      height: 50%;
    }

    @media (min-width: 768px) {
      height: 60%;
    }

    @media (min-width: 992px) {
      height: 70%;
    }

    @media (min-width: 1200px) {
      height: 80%;
    }
  }

  .bottomHalf {
    z-index: 10;
    flex: 1;
    background: $color3;
    box-shadow: $color3 1px 1px 70px 80px;

    @media (max-width: 320px) {
      height: 30%;
    }

    @media (min-width: 480px) {
      height: 40%;
    }

    @media (min-width: 768px) {
      height: 50%;
    }

    @media (min-width: 992px) {
      height: 60%;
    }

    @media (min-width: 1200px) {
      height: 70%;
    }
  }

  .cardsContainer {
    width: 100%;
    height: 40vh;
    z-index: 11;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 18%;

    @media (max-width: 320px) {
      margin-top: 15vh;
    }

    @media (min-width: 480px) {
      margin-top: 12%;
    }

    @media (min-width: 768px) {
      margin-top: 15%;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      margin-top: 500px;
    }

    @media (min-width: 1200px) {
      margin-top: 20%;
    }
  }
}
